doctype html
html
    head
        title=title
        link(href='style.css' rel='stylesheet')
    body
        h2 #{title}
        ul
            each item in config.menu
                a(href=item[1])
                    div(class='menu_item')
                        li(id=item[0]) #{item[0]}
        block content
    footer(id="footer")
        p Copyright &#169;2018 - Dylan Shoupe, Bob Cortez, Tremaun Morrison