doctype html
html
    head
        title=title
        link(href='style.css' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet')
        link(href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet")
        link(href='images/favicon.ico' rel='shortcut icon' type='image/ico')
    body
        ul(class='navbar')
            a(href="/")
                div(class='menu_item icon')
                    li(id=homebutton)
                        img(src='images/blender-smoothie.png')
            each item in config.menu
                a(href=item[1])
                    div(class='menu_item')
                        li(id=item[0]) #{item[0]}
        block content
    footer
        hr
        p Copyright &#169;#{new Date().getFullYear()} - Dylan Shoupe, Bob Cortez, Tremaun Morrison 