extends layout

block content
    each category in serviceCategories.categories
        h1 #{category[0]}
        each service in category[1]
            div
                img(src=service[3] height=50)
                p #{service[0]}
                p #{service[1]}
                p $#{service[2]}
                hr
