extends layout

block content
    each category in serviceCategories.categories
        h1 #{category[0]}
        ul(class='service')
            each service in category[1]
                li
                    img(src=service[4] height=100)
                    p(class='drink_name') #{service[0]}
                    p #{service[2]}
                    p $#{service[3]}