extends layout

block content
    h2 #{title}
    div(class='form_done')
        p Name: #{order.name}
        p Address: #{order.address}
        p Phone: #{order.phone}
        p #{order.servicesTest}